{% extends '../layout.twig' %}
{% block body %}
  <h1>Listing posts</h1>

  <ul class="collection">
    {% for post in posts %}
    <li class="collection-item avatar" style="min-height: 0">
      <i class="material-icons circle green">assignment</i>
      <a href="/post/{{ post.id }}" class="title">{{ post.postTitle }}</a>
      <p>
        <span class="green-text">{{ post.username }} </span>
        <span class="grey-text">{{ post.updatedAt | date('Y/m/d') }}</span>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">delete_forever</i></a>
    </li>
    {% endfor %}
  </ul>

{% endblock %}